<center>
    <h1>「君の名は！」の使いかた</h1>
    <p>サークルの後輩の名前が思い出せない・・・</p>
    <p>今日組んだグループはどんな人達だったかな・・・</p>
    <p>日常的な「あの人誰だっけ？」問題は、「君の名は！」がズバリ解決します。</p>

    <%= image_tag 'mypage_1.png' %>


</center>

<%= link_to 'マイページへ', profiles_path %>


<p>Find me in app/views/static_pages/about.html.erb</p>
