
<div class="font_size">




<center><h2>君の名は！</h2></center>

<br>
<center><p><%= image_tag 'toppage.png' %></p></center>
<center> <%= link_to 'ログイン', login_path, class: "btn btn-primary text-white" %>
<%= link_to '新規登録', signup_path, class: "btn btn-primary text-white" %></center>
<br>
<center>
<p><%= link_to '君の名は！とは？', about_path %></p>
</center>
</div>

