<p id="notice"><%= notice %></p>

<div class="font_size">
<h1><%= @user.name%>さん のマイページ</h1>
あなたの知人が表示されます<br>
<%= link_to '新規項目作成', new_profile_path, class: "btn btn-primary text-white"%>

<tbody>
  <div class="grid">
    <%= render @profiles %>
  </div>
</tbody>

<br>

